/cover.html
/cover.out
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
logs
.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
out.*
profile

*.syso


# Dependency directories (remove the comment below to include it)
# vendor/
1C_exporter
